<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script src="~/Scripts/jsPersonalisados/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jsPersonalisados/bootstrap.js"></script>
    <script src="~/Scripts/jsPersonalisados/bootstrap.min.js"></script>
    <div class="container">
        @RenderBody()
        <footer>
            version 3.0 marzo 2018
        </footer>
    </div>

</body>
</html>
