<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Interfas llantas Milenio">
    <meta name="author" content="Eduar Anaya">
    <link rel="shortcut icon" href="~/Content/medios/tire.ico" />

    <!-- Bootstrap CSS -->
    <link href="~/CSS/css_Prove/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Scripts/js_Prove/jQuery/jquery-3.3.1.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/js_Prove/bootstrap/bootstrap.min.js"></script>
</body>
</html>
