<div class="custom-file">
    <input type="file" class="custom-file-input soportesDesmonte" id="soportesDesmonte" name="archivosSoportesRepara" multiple required="required" accept="text/plain,image/*,application/pdf,.docs,.docx">
    <label class="custom-file-label" for="customFile">Subir archivos</label>
</div>
<table id="subidos" class="table table-dark">
    <tbody>
    </tbody>
</table>
