<link href="~/Content/cssEdit/css_cargaArchivos.css" rel="stylesheet" />



<div class="form-row">
  <div class="col-3 card subirArchivos">
    <label for="">subir archivos</label>
    
    <button id="btnAddFile" type="button" class="btn btn-success btnAddFile">+</button>
<label id="lblContador"></label>
  </div>
  <div id="boxFicheros" class="col boxFicheros card">
    <div class="form-row rowFicheros">
      <div class="col">
        <input type="file" name="archivoDesmonte">
      </div>
    </div>
  </div>
</div>

<table id="subidos" class="table table-dark">
    <tbody>
    </tbody>
</table>
