body {
    padding-top: 4rem;
}

.Contapp {
    margin-bottom: 1rem;
}

.card {
    height: 100%;
}

.visible {
    display: none;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

/*Errores*/
.error::before {
    content: url(../../Content/medios/error_label.png);
}

.error {
    color: red;
}

.alertTimeOut {
    display: block;
    position: relative;
    top: 10rem;
    width: 40%;
    margin: auto;
    background-color: #dc3545;
    color: white;
    border-color: white;
    z-index: 1000;
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}
