body {
    font-family: 'IBM Plex Sans', sans-serif;
}

nav#barraMenu {
    box-shadow: 0 0 10px 0px #a6a6a6;
}

header {
    margin-bottom: 4rem;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    height: 3rem;
}

.texFooter {
    font-size: smaller;
}

.bg-dark {
    background-color: #dededeb0 !important;
}

.titulo {
    font-size: 1.8rem;
    color: #495057;
    right: 0;
    position: absolute;
}

.rowMenu {
    justify-content: center;
}

/*.Contapp {
    margin-bottom: 10rem;
}*/

.card {
    height: 100%;
}

.visible {
    display: none;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-size: small;
    margin-bottom: 0;
}

.btnFull {
    width: 100%;
}

/*Errores*/

.errors::before {
    content: url(../../Content/medios/error_label.png);
}

.error {
    color: red;
    margin: 0;
}

.alertTimeOut {
    display: block;
    position: relative;
    top: 10rem;
    width: 40%;
    margin: auto;
    background-color: #dc3545;
    color: white;
    border-color: white;
    z-index: 5000;
}

.timeTransac {
    font-size: xx-small;
}
/*Dispositivos extra pequeños (teléfonos de retrato, menos de 576px)*/
@media (max-width: 575.98px) {
    body {
    }
}

/*Dispositivos pequeños (teléfonos apaisados, 576px y más)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
    }
}

/*Dispositivos medianos (tabletas, 768px y más)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
    }
}

/*Dispositivos grandes (computadoras de escritorio, 992px y más) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
    }

    .Text_cero {
        font-size: 1rem !important;
        color: #878787 !important;
    }

    #listaResultados {
        margin: auto !important;
        max-height: 20rem !important;
        overflow: auto !important;
        width: 40% !important;
        color: #9e9e9e !important;
        font-size: smaller !important;
    }
}

/* Dispositivos extragrandes (escritorios grandes, 1200px y más) */
@media (min-width: 1200px) {
    body {
    }
}







@media (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    footer {
        display: none;
    }
}
