body {
    padding-top: 4rem;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    height: 3rem;
}

/*.Contapp {
    margin-bottom: 10rem;
}*/

.card {
    height: 100%;
}

.visible {
    display: none;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-size: small;
    margin-bottom: 0;
}

.btnFull {
    width: 100%;
}

/*Errores*/

.errors::before {
    content: url(../../Content/medios/error_label.png);
}

.error {
    color: red;
    margin: 0;
}

.alertTimeOut {
    display: block;
    position: relative;
    top: 10rem;
    width: 40%;
    margin: auto;
    background-color: #dc3545;
    color: white;
    border-color: white;
    z-index: 5000;
}

.timeTransac {
    font-size: xx-small;
}

@media (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    footer {
        display: none;
    }
}
